{% import "macros/page.html" as page_macros %}
{% extends "base.html" %}

{% block title %}{{ page.title }} | {{ config.title }}{% endblock %}

{% block content %}

<article class="post">
    {% block featured_image %}
    {% if page.extra.featured_image %}
        {% if page.extra.featured_image is starting_with("/") %}
            {% set image_path = "static" ~ page.extra.featured_image %}
        {% else %}
            {% set image_path = page.components | join(sep="/") %}
            {% set image_path = image_path ~ "/" ~ page.extra.featured_image %}
        {% endif %}
        {% if page.extra.featured_image_extended %}
            {% set resized_featured_image = resize_image(path=image_path, width=config.extra.images.max_width, op="fit_width") %}
        {% else %}
            {# container_width = (pixel size, px) * (.container's max-width) #}
            {% set container_width = 16 * 42 %}
            {% set resized_featured_image = resize_image(path=image_path, width=container_width, op="fit_width") %}
        {% endif %}
    <img src="{{ resized_featured_image.url }}" class="{% if page.extra.featured_image_extended %}extended-img{% endif %}" alt="{% if page.extra.featured_image_alt %}{{ page.extra.featured_image_alt }}{% else %}{{ page.title }}{% endif %}"/>
    {% endif %}
    {% endblock featured_image %}
    {#
        Currently there's no way to get the page content without the summary included;
        below is a bit of a hack to separate out the two so that the summary can be
        placed into a h2 below the page title.
    #}
    {% if page.summary %}
        {% set page_contents = page.content | replace(from=page.summary, to="") %}
        <header>
            <h1>{{ page.title }}</h1>
            <h2 class="post-summary">{{ page.summary | striptags | safe }}</h2>
        </header>
        {% if page.components is containing("projects") %}
        {{ page_macros::project_info(page=page) }}
        {% else %}
        {{ page_macros::page_info(page=page) }}
        {% endif %}
    {% else %}
        {% set page_contents = page.content %}
        <header>
            <h1>{{ page.title }}</h1>
        </header>
        {{ page_macros::page_info(page=page) }}
    {% endif %}
    {% block page_contents %}
    <div class="content">
        {{ page_contents | safe }}
    </div>
    {% endblock page_contents %}
    {% block streaming_embeds %}{% endblock streaming_embeds %}
</article>

{% endblock content %}
